body {
    margin: 0px;
    background-image: url(img/poppy-playtime-Playing-Poppy-Playtime-for-windows.webp);
    background-color: black;
    background-repeat: no-repeat;
    background-size: auto;
}